.menu-bar {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.0, 0, 2);
}

.menu {
    -fx-background-radius: 10px;
}

.menu-item {
    -fx-background-radius: 10px;
    -fx-padding: 8px 16px;
}

.menu-item:hover {
    -fx-background-color: #00acc1;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}
